[submodule "1-2 Semester/ICT Project"]
	path = 1-2 Semester/ICT Project
	url = https://github.com/mianxabdullah/ICT_Project.git
[submodule "3rd Semester/Discrete/Discrete-Calculator"]
	path = 3rd Semester/Discrete/Discrete-Calculator
	url = https://github.com/mianxabdullah/Discrete-Calculator
[submodule "3rd Semester/IDS/Cricket Project"]
	path = 3rd Semester/IDS/Cricket Project
	url = https://github.com/mianxabdullah/Cricket_Batsman_Stats_Prediction
